*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 223, 178);
    color: #5c5c5c;
}
.navbar{
    background : sandybrown;
    color: #5c5c5c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
}
.nav-links{
    list-style-type: none;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.nav-links li{
    display: inline;
    margin-left: 20px;
}
.nav-links a{
    color: #5c5c5c;
    text-decoration: none;
    transition: color .5s ease;
}
.nav-links a:hover{
    color: #333;
}
.hero{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color: #d8d082;
    padding-bottom: 20px;
}
.login h2{
    color: rgb(46, 40, 1);
}
#email{
    color: #0c0c0c;
}
.register{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color: #c0b33fb6;
    padding-bottom: 25px;
}
.register p{
    color: #0c0c0c;
    margin-bottom: 2%;
}
.register a{
    text-decoration: none;
    background-color: aquamarine;
    color: #000;
    padding: 5px 10px;
    margin-bottom: 1%;
    transition: .5s;
}
.register a:hover{
    background-color: aqua;
}
footer{
    background: #FFDA89;
    color: #5c5c5c;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0; 
    width: 100%;
}
.btn{
    text-align: center;
    color: #000;
    background-color: #c0b33fb6;
    padding: 10px 20px;
    margin-left: 47%;
    margin-top: 5%;
    position: absolute;
    transition: .5s;
}
.btn:hover{
    background-color:#f9e103
}